<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.alejakun.screensavers</string>
    <key>ServiceDescription</key>
    <string>Randomize Screensaver</string>
    <key>ProgramArguments</key>
    <array>             
        <string>/usr/local/bin/randomize_screensaver.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <!-- <key>StandardErrorPath</key>
    <string>/Users/alex/.dotfiles/tmp/mycommand.err</string>
    <key>StandardOutPath</key>
    <string>/Users/alex/.dotfiles/tmp/mycommand.out</string> -->
</dict>
</plist>